@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

@font-face {
    font-family: AvertaStd;
    font-style: normal;
    src: url(https://static.uacdn.net/prod/fonts/avertastd-regular.woff) format("woff"), url(https://static.uacdn.net/prod/fonts/avertastd-regular.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: AvertaStd;
    font-weight: 700;
    src: url(https://static.uacdn.net/prod/fonts/avertastd-bold.woff) format("woff"), url(https://static.uacdn.net/prod/fonts/avertastd-bold.otf) format("opentype");
    font-display: swap
}

@font-face {
    font-family: AvertaStd;
    font-weight: 600;
    src: url(https://static.uacdn.net/prod/fonts/avertastd-semibold.woff) format("woff"), url(https://static.uacdn.net/prod/fonts/avertastd-semibold.otf) format("opentype");
    font-display: swap
}


* {
    text-rendering: geometricPrecision;
    box-sizing: content-box;
    word-break: break-word;
    outline: none;
    text-decoration: none;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    font-family: AvertaStd, -apple-system, BlinkMacSystemFont, sans-serif;
    -ms-scroll-chaining: none;
    overscroll-behavior: none;

}
.fa-2x {
    font-size: 2em;
}
.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size:20px;
    
}

.fa-home{

}


.sidebar-menu:hover,nav.sidebar-menu.expanded {
    width:250px;
    overflow:visible;
}

.sidebar-menu {
    /* color: rgb(162 141 141); */
    background-color: rgb(245 240 240);
    box-shadow: rgb(136 160 141 / 44%) 0px 16px 32px 0px;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 60px;
    overflow: hidden;
    -webkit-transition: width .05s linear;
    transition: width .05s linear;
    -webkit-transform: translateZ(0) scale(1,1);
    z-index: 1000;
}

.sidebar-menu>ul {
    margin:7px 0;
}

.sidebar-menu li {
    position:relative;
    display:block;
    width: 250px;
    margin: 24px 0px 0px 0px;
}

.sidebar-menu li>a {
    position:relative;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color:#005639bf;
    font-family: AvertaStd, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14px;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .1s linear;
    transition:all .1s linear;

}

.sidebar-menu .nav-icon {
    position:relative;
    display:table-cell;
    width:60px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size:18px;
}

.sidebar-menu .nav-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:190px;
    font-family: AvertaStd, -apple-system, BlinkMacSystemFont, sans-serif;
}

.sidebar-menu>ul.logout {
    position:absolute;
    left:0;
    bottom:0;
}

.no-touch .scrollable.hover {
    overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
}

a:hover,a:focus {
    text-decoration:none;
}

nav {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

nav ul,nav li {
    outline:0;
    margin:0;
    padding:0;
}
.sidebar-menu li:hover>a,nav.sidebar-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
    color:#fff;
    background-color: rgb(8, 189, 128);
}
.area {
    float: right;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}
.weldb-h2{
    text-align: initial;
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: rgb(60, 72, 82);
    margin: 0px;
}

.welcome{

}

.weldb-p{
    margin-top: 8px;
    margin-bottom: 32px;
    color: rgb(60, 72, 82);
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
}

.welcome .content {
    background-color: rgb(255 255 255);
    box-shadow: rgb(136 160 141 / 44%) 0px 16px 32px 0px;
    padding: 15px;
    margin: 25px 173px 0px 0px;
    width: auto;
}

.container-fluid{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: 235px;
}

.cont-fl-c2{
    flex-wrap: wrap;
    display: flex;
}

.cont-fluid-boxdata {
    width: 480px;
    height: 130px;
    margin-bottom: 66px;
    text-align: left;
    display: flex;
    background-color: rgb(255 255 255);
    box-shadow: rgb(136 160 141 / 44%) 0px 16px 32px 0px;
}
.cont-fluid-boxdata-c2{
    margin-left: 100px;
}

.cont-fluid-box {
    width: 480px;
    display: flex;
}


.icon-color{
    background-color: #ffbf60;
    padding: 45px 15px 45px 15px;
}

.icon-color> i{
    font-size: 40px;
}

.info {
    left: 0;
    top: 0;
    width: auto;
    margin: 20px 0px 0px 20px;
}

.box-h3 {
    font-weight: bold;
    font-size: 32px;
    line-height: 120%;
    color: rgb(60, 72, 82);
}
span{
    font-weight: inherit;
    font-size: 18px;
    line-height: 140%;

}

.row{
    margin: 0px 55px 45px 0px;
}
@media (min-width: 992px)
    .col-md-12 {
        width: 100%;
    }